<div class="card">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col-12 col-md-12">
        <h1 class="mb-0">งานรอพิมพ์ OD</h1><br>
      </div>
      <div class="col-12 col-md-12" >
        <div class="row g-2">
          <div class="col-12 col-md-2" *ngIf="printingForm.get('jobStatus')?.value === 'PENDING'">
            <button class="btn text-white px-5 shadow-sm w-100" style="background-color: #1e1b4b;" data-bs-toggle="modal"
              data-bs-target="#printingRecordModal">เริ่มพิมพ์
            </button>
          </div>
          <div class="col-12 col-md-2" *ngIf="printingForm.get('jobStatus')?.value === 'PAUSED'">
            <button class="btn text-white px-5 shadow-sm w-100" style="background-color: #441f99;" data-bs-toggle="modal"
              data-bs-target="#printingRecordModal">เริ่มพิมพ์ต่อ
            </button>
          </div>
          <div class="col-12 col-md-2" *ngIf="printingForm.get('jobStatus')?.value === 'WAITPAGE2'">
            <button class="btn text-white px-5 shadow-sm w-100" style="background-color: #441f99;" data-bs-toggle="modal"
              data-bs-target="#printingStartPage2">เริ่มพิมพ์หน้าที่ 2
            </button>
          </div>
          <div class="col-12 col-md-2" *ngIf="printingForm.get('jobStatus')?.value === 'PAUSED_PAGE2'">
            <button class="btn text-white px-5 shadow-sm w-100" style="background-color: #441f99;" data-bs-toggle="modal"
              data-bs-target="#printingStartPage2">เริ่มพิมพ์หน้าที่ 2ต่อ
            </button>
          </div>
          <div class="col-12 col-md-2" *ngIf="printingForm.get('jobStatus')?.value === 'IN_PROGRESS'">
            <button class="btn text-white px-5 shadow-sm w-100" style="background-color: #ff8800;" data-bs-toggle="modal"
              data-bs-target="#printingLogStop" (click)="checkPrinter()">หยุดชั่วคราว
            </button>
          </div>
          <div class="col-12 col-md-2" *ngIf="printingForm.get('jobStatus')?.value === 'IN_PROGRESS_PAGE2'">
            <button class="btn text-white px-5 shadow-sm w-100" style="background-color: #ff8800;" data-bs-toggle="modal"
              data-bs-target="#printingLogStopPage2" (click)="checkPrinter()">หยุดชั่วคราวหน้า2
            </button>
          </div>
          <div class="col-12 col-md-2" *ngIf="printingForm.get('jobStatus')?.value === 'IN_PROGRESS'">
            <button class="btn text-white px-5 shadow-sm w-100" style="background-color: #000272;" data-bs-toggle="modal"
              data-bs-target="#printingLogEnd" (click)="checkPrinter()">พิมพ์จบ
            </button>
          </div>
          <div class="col-12 col-md-2" *ngIf="printingForm.get('jobStatus')?.value === 'IN_PROGRESS_PAGE2'">
            <button class="btn text-white px-5 shadow-sm w-100" style="background-color: #441f99;" data-bs-toggle="modal"
              data-bs-target="#printingLogEndPage2" (click)="checkPrinter()">พิมพ์จบหน้า2
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card-body">
    <form [formGroup]="printingForm">
      <div class="row g-3">
        <div class="col-md-4">
          <label class="form-label">JOB ID</label>
          <input type="text" formControlName="jobId" class="form-control">
        </div>
        <div class="col-md-4">
          <label class="form-label" style=" color: red;">วันที่ต้องส่งงานพิมพ์</label>
          <input type="date" formControlName="deliveryDate" class="form-control"
            style="background-color: red; color: #ffffff;">
        </div>
        <div class="col-md-4">
          <label class="form-label" style=" color: red;">เวลาต้องส่งงานพิมพ์</label>
          <input type="time" formControlName="deliveryTime" class="form-control"
            style="background-color: red; color: #ffffff;">
        </div>
        <div class="col-md-4">
          <label class="form-label">ชื่อลูกค้า/ชื่องาน</label>
          <input type="text" formControlName="customerJobName" class="form-control">
        </div>
        <div class="col-md-4">
          <label class="form-label">สถานะงาน</label>
          <input type="text" formControlName="jobStatus" class="form-control">
        </div>
        <div class="col-md-2">
          <label class="form-label">ยอดใบพิมพ์</label>
          <input type="number" formControlName="totalPrintSheets" class="form-control" placeholder="0">
        </div>
        <div class="col-md-2">
          <label class="form-label">ยอดผลิต/กล่อง</label>
          <input type="number" formControlName="productionQty" class="form-control" placeholder="0">
        </div>
        <div class="col-md-2">
          <label class="form-label">เครื่องพิมพ์</label>
          <input type="text" formControlName="printerName" class="form-control">
        </div>
        <div class="col-md-2">
          <label class="form-label">งานตัวอย่าง</label>
          <div class="form-check">
            <input type="checkbox" formControlName="issample" class="form-check-input" id="issample">
            <label class="form-check-label" for="issample">
              เป็นงานตัวอย่าง
            </label>
          </div>
        </div>
        <div class="col-md-2">
          <label class="form-label">พิมพ์</label>
          <div class="form-check">
            <input type="checkbox" formControlName="print2Page" class="form-check-input" id="print2Page">
            <label class="form-check-label" for="print2Page">
              พิมพ์2หน้า
            </label>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="card-body">
  <div class="card total-income-card info overflow-hidden">
    <div style="padding: 10px;">
      <h5 class="card-title mb-3">รายละเอียดงานพิมพ์</h5>
      <form [formGroup]="printingForm" class="row g-3">
        <div class="col-md-6">
          <label class="form-label font-weight-bold">ประเภทงาน</label>
          <input type="text" formControlName="jobType" class="form-control">
        </div>
        <div class="col-md-6">
          <label class="form-label font-weight-bold">ลักษณะงานพิมพ์</label>
          <input type="text" formControlName="printType" class="form-control">
        </div>
        <div class="col-md-6">
          <label class="form-label font-weight-bold">สีที่พิมพ์</label>
          <input type="text" formControlName="colorPrint" class="form-control">
        </div>
        <div class="col-md-6">
          <label class="form-label font-weight-bold">ขนาดกระดาษ</label>
          <input type="text" formControlName="paperType" class="form-control">
        </div>
        <div class="col-md-6">
          <label class="form-label font-weight-bold">แกรมกระดาษ</label>
          <input type="text" formControlName="paperGram" class="form-control">
        </div>
        <div class="col-md-6">
          <label class="form-label font-weight-bold">ลักษณะงานเคลือบ</label>
          <input type="text" formControlName="coatType" class="form-control">
        </div>
        <div class="col-md-6">
          <label class="form-label font-weight-bold">ลักษณะงานไดคัท</label>
          <input type="text" formControlName="diecuttingType" class="form-control">
        </div>
      </form>
    </div>
  </div><br>
</div>

<!-- Modal printingFormRecord -->
<div class="modal fade" id="printingRecordModal" tabindex="-1" aria-labelledby="printingRecordModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="printingRecordModalLabel">บันทึกข้อมูลเริ่มพิมพ์</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="printingFormRecord">
          <div class="row g-3">
            <div class="col-md-6">
              <label class="form-label">ค่ามิเตอร์ 4 สี เริ่มต้น</label>
              <input type="number" formControlName="meterColorStart" class="form-control">
            </div>
            <div class="col-md-6">
              <label class="form-label">ค่ามิเตอร์ขาวดำ เริ่มต้น</label>
              <input type="number" formControlName="meterBwStart" class="form-control">
            </div>
            <div class="col-md-6" *ngIf="printingFormRecord.get('printerName')?.value === 'Ricoh'">
              <label class="form-label">ค่ามิเตอร์ขาว เริ่มต้น</label>
              <input type="number" formControlName="meterSpecialStart" class="form-control">
            </div>
            <div class="col-md-6">
              <label class="form-label">เครื่องพิมพ์<span style="color: red;">*</span></label>
              <select formControlName="printerName" class="form-select" style="color: black;">
                <option value="Canon">Canon</option>
                <option value="Ricoh">Ricoh</option>
              </select>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
        <button type="button" class="btn text-white" style="background-color: #1e1b4b;"
          (click)="startPrintLog()" data-bs-dismiss="modal">บันทึก</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="printingLogEnd" tabindex="-1" aria-labelledby="printingLogEnd"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="printingLogEnd">บันทึกข้อมูลพิมพ์สิ้นสุด</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="printingEndLog">
          <div class="row g-3">
            <div class="col-md-6">
              <label class="form-label">ค่ามิเตอร์ 4 สี จบ</label>
              <input type="number" formControlName="meterColorEnd" class="form-control">
            </div>
            <div class="col-md-6">
              <label class="form-label">ค่ามิเตอร์ขาวดำ จบ</label>
              <input type="number" formControlName="meterBwEnd" class="form-control">
            </div>
            <div class="col-md-6" *ngIf="isRicoh">
              <label class="form-label">ค่ามิเตอร์ขาว จบ</label>
              <input type="number" formControlName="meterSpecialEnd" class="form-control">
            </div>
            <div class="col-md-6">
              <label class="form-label">หมายเหตุ</label>
              <input type="text" formControlName="note" class="form-control">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
        <button type="button" class="btn text-white" style="background-color: #1e1b4b;"
          (click)="stopPrintLog('FINISH')" data-bs-dismiss="modal">บันทึก</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="printingLogStop" tabindex="-1" aria-labelledby="printingLogStop"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="printingLogStop">บันทึกข้อมูลหยุดพิมพ์ชั่วคราว</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="printingEndLog">
          <div class="row g-3">
            <div class="col-md-6">
              <label class="form-label">ค่ามิเตอร์ 4 สี จบ</label>
              <input type="number" formControlName="meterColorEnd" class="form-control">
            </div>
            <div class="col-md-6">
              <label class="form-label">ค่ามิเตอร์ขาวดำ จบ</label>
              <input type="number" formControlName="meterBwEnd" class="form-control">
            </div>
            <div class="col-md-6" *ngIf="isRicoh">
              <label class="form-label">ค่ามิเตอร์ขาว จบ</label>
              <input type="number" formControlName="meterSpecialEnd" class="form-control">
            </div>
            <div class="col-md-6">
              <label class="form-label">หมายเหตุ</label>
              <input type="text" formControlName="note" class="form-control">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
        <button type="button" class="btn text-white" style="background-color: #1e1b4b;"
          (click)="stopPrintLog('PAUSE')" data-bs-dismiss="modal">บันทึก</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="printingLogStopPage2" tabindex="-1" aria-labelledby="printingLogStopPage2"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="printingLogStopPage2">บันทึกข้อมูลพิมพ์สิ้นสุด</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="printingEndLog">
          <div class="row g-3">
            <div class="col-md-6">
              <label class="form-label">ค่ามิเตอร์ 4 สี จบ</label>
              <input type="number" formControlName="meterColorEnd" class="form-control">
            </div>
            <div class="col-md-6">
              <label class="form-label">ค่ามิเตอร์ขาวดำ จบ</label>
              <input type="number" formControlName="meterBwEnd" class="form-control">
            </div>
            <div class="col-md-6" *ngIf="isRicoh">
              <label class="form-label">ค่ามิเตอร์ขาว จบ</label>
              <input type="number" formControlName="meterSpecialEnd" class="form-control">
            </div>
            <div class="col-md-6">
              <label class="form-label">หมายเหตุ</label>
              <input type="text" formControlName="note" class="form-control">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
        <button type="button" class="btn text-white" style="background-color: #1e1b4b;"
          (click)="stopPrintPage2Log('PAUSED_PAGE2')" data-bs-dismiss="modal">บันทึก</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="printingStartPage2" tabindex="-1" aria-labelledby="printingStartPage2"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="printingStartPage2">บันทึกข้อมูลเริ่มพิมพ์หน้า2</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="printingFormRecord2">
          <div class="row g-3">
            <div class="col-md-6">
              <label class="form-label">ค่ามิเตอร์ 4 สี เริ่มต้น</label>
              <input type="number" formControlName="meterColorStart" class="form-control">
            </div>
            <div class="col-md-6">
              <label class="form-label">ค่ามิเตอร์ขาวดำ เริ่มต้น</label>
              <input type="number" formControlName="meterBwStart" class="form-control">
            </div>
            <div class="col-md-6" *ngIf="printingFormRecord2.get('printerName')?.value === 'Ricoh'">
              <label class="form-label">ค่ามิเตอร์ขาว เริ่มต้น</label>
              <input type="number" formControlName="meterSpecialStart" class="form-control">
            </div>
            <div class="col-md-6">
              <label class="form-label">เครื่องพิมพ์<span style="color: red;">*</span></label>
              <select formControlName="printerName" class="form-select" style="color: black;">
                <option value="Canon">Canon</option>
                <option value="Ricoh">Ricoh</option>
              </select>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
        <button type="button" class="btn text-white" style="background-color: #1e1b4b;"
          (click)="startPrintPage2Log()" data-bs-dismiss="modal">บันทึก</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="printingLogEndPage2" tabindex="-1" aria-labelledby="printingLogEndPage2"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="printingLogEndPage2">บันทึกข้อมูลพิมพ์สิ้นสุด</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="printingEndLog">
          <div class="row g-3">
            <div class="col-md-6">
              <label class="form-label">ค่ามิเตอร์ 4 สี จบ</label>
              <input type="number" formControlName="meterColorEnd" class="form-control">
            </div>
            <div class="col-md-6">
              <label class="form-label">ค่ามิเตอร์ขาวดำ จบ</label>
              <input type="number" formControlName="meterBwEnd" class="form-control">
            </div>
            <div class="col-md-6" *ngIf="isRicoh">
              <label class="form-label">ค่ามิเตอร์ขาว จบ</label>
              <input type="number" formControlName="meterSpecialEnd" class="form-control">
            </div>
            <div class="col-md-6">
              <label class="form-label">หมายเหตุ</label>
              <input type="text" formControlName="note" class="form-control">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
        <button type="button" class="btn text-white" style="background-color: #1e1b4b;"
          (click)="stopPrintLog('FINISH_PAGE2')" data-bs-dismiss="modal">บันทึก</button>
      </div>
    </div>
  </div>
</div>