<div class="card-body">
  <div class="card total-income-card warning overflow-hidden">
    <div style="padding: 10px;">
      <form [formGroup]="mainForm" class="row g-3">
        <div class="col-12 d-flex justify-content-end gap-2 mt-4">
          <button *ngIf="deadline == true" type="submit" (click)="updateStatusSucsess()"
            class="btn text-white px-5 shadow-sm" style="background-color: #1e1b4b;">
            กำหนดส่งกลับ
          </button>
        </div>
        <div class="col-md-6">
          <label class="form-label font-weight-bold">ลำดับ</label>
          <input type="text" formControlName="id" class="form-control">
        </div>
        <div class="col-md-6">
          <label class="form-label font-weight-bold">JobId <span style="color: red;">*</span></label>
          <input type="text" formControlName="jobId" class="form-control"
            [class.is-invalid]="mainForm.get('job_id')?.invalid && mainForm.get('job_id')?.touched">
        </div>
        <div class="col-md-6">
          <label class="form-label font-weight-bold">QtId</label>
          <input type="text" formControlName="qtId" class="form-control">
        </div>
        <div class="col-md-6">
          <label class="form-label font-weight-bold">QPId</label>
          <input type="text" formControlName="qpId" class="form-control">
        </div>
        <div class="col-md-3">
          <label class="form-label font-weight-bold">วันที่สั่งงาน</label>
          <input type="date" formControlName="orderDate" class="form-control"
            [class.is-invalid]="mainForm.get('order_date')?.invalid && mainForm.get('order_date')?.touched">
        </div>
        <div class="col-md-3">
          <label class="form-label font-weight-bold">เวลาที่สั่งงาน</label>
          <input type="time" formControlName="orderTime" class="form-control">
        </div>
        <div class="col-md-6">
          <label class="form-label font-weight-bold">ชื่อโฟลเดอร์งาน</label>
          <input type="text" formControlName="folderName" class="form-control" placeholder="ระบุชื่อโฟลเดอร์"
            [class.is-invalid]="mainForm.get('folder_name')?.invalid && mainForm.get('folder_name')?.touched">
        </div>
        <div class="col-md-6">
          <label class="form-label font-weight-bold">เจ้าของงาน</label>
          <input type="text" formControlName="jobOwner" class="form-control" placeholder="ชื่อผู้สั่งงาน">
        </div>
        <div class="col-md-6">
          <label class="form-label font-weight-bold">ผู้รับผิดชอบ (Assignee)</label>
          <input type="text" formControlName="responsiblePerson" class="form-control" placeholder="ชื่อผู้ออกแบบ">
        </div>
        <div class="col-md-3">
          <label class="form-label font-weight-bold">วันที่ต้องส่ง</label>
          <input type="date" formControlName="deliveryDate" class="form-control">
        </div>
        <div class="col-md-3">
          <label class="form-label font-weight-bold">เวลาที่ต้องส่ง</label>
          <input type="time" formControlName="deliveryTime" class="form-control">
        </div>
        <div class="col-md-6">
          <label class="form-label font-weight-bold">สถานะ</label>
          <input type="text" formControlName="status" class="form-control">
        </div>
        <div class="col-md-3">
          <label class="form-label font-weight-bold">จำนวน</label>
          <input type="number" formControlName="quantity" class="form-control">
        </div>
        <div class="col-md-3">
          <label class="form-label font-weight-bold">หน่วยนับ</label>
          <input type="text" formControlName="unit" class="form-control">
        </div>
        <div class="col-12">
          <label class="form-label font-weight-bold">หมายเหตุ</label>
          <input type="text" formControlName="note" class="form-control" placeholder="หมายเหตุเพิ่มเติม">
        </div>
        <div class="col-12" *ngIf="isNoteEdit == true">
          <label class="form-label font-weight-bold">รายละเอียดแก้ไข</label>
          <input style="background-color: rgb(255, 136, 1); color: white;" type="text" formControlName="noteEdit"
            class="form-control">
        </div>
        <div class="col-md-6">
          <label class="form-label font-weight-bold">ชื่อลูกค้า</label>
          <input type="text" formControlName="customerName" class="form-control" placeholder="ชื่อลูกค้า">
        </div>
        <div class="col-md-12">
          <div class="form-check form-switch mt-2"> <input type="checkbox" formControlName="isCreateSample"
              class="form-check-input" id="isCreateSampleSwitch">
            <label class="form-check-label" for="isCreateSampleSwitch">ขึ้นตัวอย่าง</label>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>