<h2>ตารางสั่งงานตัวอย่าง</h2>
<div class="card-body">
  <div class="card border-0 shadow-sm mb-4 overflow-hidden" >
    <div class="card-body bg-light">
      <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
        <div class="row g-3">
          
          <div class="col-md-3">
            <input type="number" class="form-control" formControlName="id" placeholder="ค้นหา ลำดับ">
          </div>

          <div class="col-md-3">
            <input type="text" class="form-control" formControlName="folderName" placeholder="ค้นหา ชื่อโฟลเดอร์">
          </div>

          <div class="col-md-3">
            <input type="text" class="form-control" formControlName="jobOwner" placeholder="ค้นหา เจ้าของงาน">
          </div>

          <div class="col-md-3">
            <input type="text" class="form-control" formControlName="responsiblePerson" placeholder="ค้นหา ผู้รับผิดชอบ">
          </div>

          <div class="col-md-3">
            <select class="form-select" formControlName="status">
              <option value="">สถานะ ทั้งหมด</option>
              <option value="รอผู้รับผิดชอบอนุมัติ">รอผู้รับผิดชอบอนุมัติ</option>
              <option value="รอดำเนินการ">รอดำเนินการ</option>
              <option value="ขอเลื่อนวันส่ง">ขอเลื่อนวันส่ง</option>
              <option value="ไม่อนุมัติเลื่อนส่ง">ไม่อนุมัติเลื่อนส่ง</option>
              <option value="จัดส่งได้ รอเคลียร์ไฟล์">จัดส่งได้ รอเคลียร์ไฟล์</option>
              <option value="กำลังเคลียร์ไฟล์">กำลังเคลียร์ไฟล์</option>
              <option value="ไฟล์เสร็จ รอตรวจสอบไฟล์">ไฟล์เสร็จ รอตรวจสอบไฟล์</option>
              <option value="สำเร็จ รออนุมัติไปตารางรอผลิต">สำเร็จ รออนุมัติไปตารางรอผลิต</option>
              <option value="รอเจ้าของงานตรวจสอบ">รอเจ้าของงานตรวจสอบ</option>
              <option value="แก้ไขงานตัวอย่าง">แก้ไขงานตัวอย่าง</option>
              <option value="แก้ไขไฟล์">แก้ไขไฟล์</option>
              <option value="ไฟล์ถูกต้อง">ไฟล์ถูกต้อง</option>
              <option value="แก้ไข">แก้ไข</option>
              <option value="ผ่าน">ผ่าน</option>
            </select>
          </div>

          <div class="col-12">
            <div class="row g-2">
              <div class="col-12 col-sm-6 col-md-4 col-lg-auto">
                <button mat-flat-button color="primary" type="submit" class="w-100 px-3" style="background-color: #003747;">
                  <mat-icon>search</mat-icon> ค้นหา
                </button>
              </div>
              <div class="col-12 col-sm-6 col-md-4 col-lg-auto">
                <button mat-stroked-button color="warn" type="button" class="w-100 px-3" (click)="onClear()" style="color: #003747;">
                  <mat-icon>refresh</mat-icon> ล้างค่า
                </button>
              </div>
              <div class="col-12 col-sm-6 col-md-4 col-lg-auto">
                <button mat-flat-button color="accent" type="button" class="w-100 px-3" (click)="add()" style="background-color: #10bb00;">
                  <mat-icon>add_circle</mat-icon> เพิ่มข้อมูล
                </button>
              </div>
              <div class="col-12 col-sm-6 col-md-4 col-lg-auto">
                <button mat-flat-button color="accent" type="button" class="w-100 px-3" (click)="onSearchSort()" style="background-color: #003747;">
                  <mat-icon>sort</mat-icon> <span class="d-none d-lg-inline">เรียงตามวันส่ง</span><span class="d-lg-none">เรียงตามวันส่ง</span>
                </button>
              </div>
              <div class="col-12 col-sm-12 col-md-4 col-lg-auto">
                <button mat-flat-button color="accent" class="w-100 px-3 position-relative" (click)="onFilterUnassigned()" style="background-color: #003747;">
                  <mat-icon>search</mat-icon> <span class="d-none d-lg-inline">งานที่ขอเลื่อนวันส่ง</span><span class="d-lg-none">งานที่ขอเลื่อนวันส่ง</span>
                  <span *ngIf="shif > 0"
                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                    style="font-size: 0.75rem; border: 2px solid #fff;">
                    {{ shif }}
                    <span class="visually-hidden">unread messages</span>
                  </span>
                </button>
              </div>
              <div class="col-12 col-sm-12 col-md-4 col-lg-auto">
                <button mat-flat-button color="accent" class="w-100 px-3 position-relative" (click)="onFilterApproveSample()" style="background-color: #003747;">
                  <mat-icon>search</mat-icon> <span class="d-none d-lg-inline">งานที่รออนุมัติไปตารางรอผลิต</span><span class="d-lg-none">งานที่รออนุมัติไปตารางรอผลิต</span>
                  <span *ngIf="approveSample > 0"
                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                    style="font-size: 0.75rem; border: 2px solid #fff;">
                    {{ approveSample }}
                    <span class="visually-hidden">unread messages</span>
                  </span>
                </button>
              </div>
              <div class="col-12 col-sm-12 col-md-4 col-lg-auto">
                <button mat-flat-button color="accent" class="w-100 px-3 position-relative" (click)="onFilterSampleCheck()" style="background-color: #003747;">
                  <mat-icon>search</mat-icon> <span class="d-none d-lg-inline">รอเจ้าของงานตรวจสอบ</span><span class="d-lg-none">รอเจ้าของงานตรวจสอบ</span>
                  <span *ngIf="sampleCheck > 0"
                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                    style="font-size: 0.75rem; border: 2px solid #fff;">
                    {{ sampleCheck }}
                    <span class="visually-hidden">unread messages</span>
                  </span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <app-data-table 
    [headerStyle]="'background: #003747; color: #ffffff;'"
    [columns]="tableColumns" 
    [data]="tableData" 
    [totalElements]="totalElements" 
    [pageSize]="pageSize"
    [pageIndex]="pageIndex" 
    [clickableColumn]="'id'" 
    (pageChange)="onPageChange($event)"
    (rowClick)="onRowClick($event)">
  </app-data-table>
</div>