<h2>ตารางรับงานตัวอย่าง</h2>
<div class="card-body">
  <div class="card border-0 shadow-sm mb-4 overflow-hidden">
    <div class="card-body bg-light ">
      <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
        <div class="row g-3">

          <div class="col-md-3">
            <label class="form-label fw-bold">ID</label>
            <input type="text" class="form-control" formControlName="id" placeholder="ระบุ ID">
          </div>

          <div class="col-md-3">
            <label class="form-label fw-bold">ชื่อโฟลเดอร์งาน</label>
            <input type="text" class="form-control" formControlName="folderName" placeholder="ระบุชื่อโฟลเดอร์">
          </div>

          <div class="col-md-3">
            <label class="form-label fw-bold">เจ้าของงาน</label>
            <input type="text" class="form-control" formControlName="jobOwner" placeholder="ระบุเจ้าของงาน">
          </div>

          <div class="col-md-3">
            <label class="form-label fw-bold">ผู้รับผิดชอบ</label>
            <input type="text" class="form-control" formControlName="responsiblePerson" placeholder="ระบุผู้รับผิดชอบ">
          </div>

          <div class="col-md-3">
            <label class="form-label fw-bold">สถานะ</label>
            <select class="form-select" formControlName="status">
              <option value="">ทั้งหมด</option>
              <option value="รอผู้รับผิดชอบอนุมัติ">รอผู้รับผิดชอบอนุมัติ</option>
              <option value="รอดำเนินการ">รอดำเนินการ</option>
              <option value="ขอเลื่อนวันส่ง">ขอเลื่อนวันส่ง</option>
              <option value="อนุมัติขอเลื่อนส่ง">อนุมัติขอเลื่อนส่ง</option>
              <option value="ไม่อนุมัติเลื่อนส่ง">ไม่อนุมัติเลื่อนส่ง</option>
              <option value="จัดส่งได้ รอเคลียร์ไฟล์">จัดส่งได้ รอเคลียร์ไฟล์</option>
              <option value="กำลังเคลียร์ไฟล์">กำลังเคลียร์ไฟล์</option>
              <option value="ไฟล์เสร็จ รอตรวจสอบไฟล์">ไฟล์เสร็จ รอตรวจสอบไฟล์</option>
              <option value="ไฟล์ถูกต้อง รอขึ้นตัวอย่าง">ไฟล์ถูกต้อง รอขึ้นตัวอย่าง</option>
              <option value="ขึ้นตัวอย่างแล้ว">ขึ้นตัวอย่างแล้ว</option>
              <option value="ไฟล์ถูกต้อง ไม่ต้องขึ้นตัวอย่าง">ไฟล์ถูกต้อง ไม่ต้องขึ้นตัวอย่าง</option>
              <option value="แก้ไขไฟล์">แก้ไขไฟล์</option>
              <option value="ไฟล์ถูกต้อง">ไฟล์ถูกต้อง</option>
              <option value="สำเร็จ รออนุมัติไปตารางรอผลิต">สำเร็จ รออนุมัติไปตารางรอผลิต</option>
              <option value="แก้ไข">แก้ไข</option>
              <option value="ผ่าน">ผ่าน</option>
            </select>
          </div>

          <div class="col-md-3">
            <label class="form-label fw-bold">ตั้งแต่วันที่</label>
            <input type="date" class="form-control" formControlName="startDate" (change)="onStartDateChange()">
          </div>

          <div class="col-md-3">
            <label class="form-label fw-bold">ถึงวันที่</label>
            <input type="date" class="form-control" formControlName="endDate" [min]="minEndDate | date:'yyyy-MM-dd'">
          </div>

          <div class="col-12">
            <div class="row g-2">
              <div class="col-12 col-sm-6 col-md-4 col-lg-auto">
                <button mat-flat-button color="primary" type="submit" class="w-100 px-3"
                  style="background-color: #350142;">
                  <mat-icon>search</mat-icon> ค้นหา
                </button>
              </div>
              <div class="col-12 col-sm-6 col-md-4 col-lg-auto">
                <button mat-stroked-button color="warn" type="button" class="w-100 px-3" (click)="onClear()">
                  <mat-icon>refresh</mat-icon> ล้างค่า
                </button>
              </div>
              <div class="col-12 col-sm-12 col-md-4 col-lg-auto">
                <button mat-flat-button color="accent" class="w-100 px-3 position-relative"
                  (click)="onFilterApproveShif()" style="background-color: #350142; color: #81f58a;">
                  <mat-icon>search</mat-icon> <span class="d-none d-lg-inline">งานที่อนุมัติเลื่อนส่ง</span>
                  <span *ngIf="approveShif > 0"
                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                    style="font-size: 0.75rem; border: 2px solid #fff;">
                    {{ approveShif }}
                    <span class="visually-hidden">unread messages</span>
                  </span>
                </button>
              </div>
              <div class="col-12 col-sm-12 col-md-4 col-lg-auto">
                <button mat-flat-button color="accent" class="w-100 px-3 position-relative"
                  (click)="onFilterNotApproveShif()" style="background-color: #350142; color: #ff5a5a;">
                  <mat-icon>search</mat-icon> <span class="d-none d-lg-inline">งานที่ไม่อนุมัติเลื่อนส่ง</span>
                  <span *ngIf="notApproveShif > 0"
                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                    style="font-size: 0.75rem; border: 2px solid #fff;">
                    {{ notApproveShif }}
                    <span class="visually-hidden">unread messages</span>
                  </span>
                </button>
              </div>
              <div class="col-12 col-sm-12 col-md-4 col-lg-auto">
                <button mat-flat-button color="accent" class="w-100 px-3 position-relative"
                  (click)="onFilterUnassigned()" style="background-color: #350142;">
                  <mat-icon>search</mat-icon> <span class="d-none d-lg-inline">งานที่ยังไม่มีผู้รับผิดชอบ</span>
                  <span *ngIf="countBacklog > 0"
                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                    style="font-size: 0.75rem; border: 2px solid #fff;">
                    {{ countBacklog }}
                    <span class="visually-hidden">unread messages</span>
                  </span>
                </button>
              </div>
              <div class="col-12 col-sm-12 col-md-4 col-lg-auto">
                <button mat-flat-button color="accent" class="w-100 px-3 position-relative"
                  (click)="onFilterwaitProcess()" style="background-color: #350142;">
                  <mat-icon>search</mat-icon> <span class="d-none d-lg-inline">งานที่รอดำเนินการ</span>
                  <span *ngIf="waitProcess > 0"
                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                    style="font-size: 0.75rem; border: 2px solid #fff;">
                    {{ waitProcess }}
                    <span class="visually-hidden">unread messages</span>
                  </span>
                </button>
              </div>
              <div class="col-12 col-sm-12 col-md-4 col-lg-auto">
                <button mat-flat-button color="accent" class="w-100 px-3 position-relative"
                  (click)="onFilterClearFile()" style="background-color: #350142; color: #ffffff;">
                  <mat-icon>search</mat-icon> <span class="d-none d-lg-inline">งานที่รอเคลียร์ไฟล์</span>
                  <span *ngIf="clearFile > 0"
                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                    style="font-size: 0.75rem; border: 2px solid #fff;">
                    {{ clearFile }}
                    <span class="visually-hidden">unread messages</span>
                  </span>
                </button>
              </div>
              <div class="col-12 col-sm-12 col-md-4 col-lg-auto">
                <button mat-flat-button color="accent" class="w-100 px-3 position-relative"
                  (click)="onFilterInClearFile()" style="background-color: #350142; color: #ffffff;">
                  <mat-icon>search</mat-icon> <span class="d-none d-lg-inline">งานที่กำลังเคลียร์ไฟล์</span>
                  <span *ngIf="inClearFile > 0"
                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                    style="font-size: 0.75rem; border: 2px solid #fff;">
                    {{ inClearFile }}
                    <span class="visually-hidden">unread messages</span>
                  </span>
                </button>
              </div>
              <div class="col-12 col-sm-12 col-md-4 col-lg-auto">
                <button mat-flat-button color="accent" class="w-100 px-3 position-relative"
                  (click)="onFilterWaitSample()" style="background-color: #350142; color: #ffffff;">
                  <mat-icon>search</mat-icon> <span class="d-none d-lg-inline">งานรอขึ้นตัวอย่าง</span>
                  <span *ngIf="waitSample > 0"
                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                    style="font-size: 0.75rem; border: 2px solid #fff;">
                    {{ waitSample }}
                    <span class="visually-hidden">unread messages</span>
                  </span>
                </button>
              </div>
              <div class="col-12 col-sm-12 col-md-4 col-lg-auto">
                <button mat-flat-button color="accent" class="w-100 px-3 position-relative"
                  (click)="onFilterBackSample()" style="background-color: #350142; color: #ffffff;">
                  <mat-icon>search</mat-icon> <span class="d-none d-lg-inline">งานขึ้นตัวอย่างรอส่งกลับ</span>
                  <span *ngIf="backSample > 0"
                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                    style="font-size: 0.75rem; border: 2px solid #fff;">
                    {{ backSample }}
                    <span class="visually-hidden">unread messages</span>
                  </span>
                </button>
              </div>
              <div class="col-12 col-sm-12 col-md-4 col-lg-auto">
                <button mat-flat-button color="accent" class="w-100 px-3 position-relative" (click)="onFilterSample()"
                  style="background-color: #350142; color: #ffffff;">
                  <mat-icon>search</mat-icon> <span class="d-none d-lg-inline">งานไม่ขึ้นตัวอย่างรอส่งกลับ</span>
                  <span *ngIf="back > 0"
                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                    style="font-size: 0.75rem; border: 2px solid #fff;">
                    {{ back }}
                    <span class="visually-hidden">unread messages</span>
                  </span>
                </button>
              </div>
              <div class="col-12 col-sm-12 col-md-4 col-lg-auto">
                <button mat-flat-button color="accent" class="w-100 px-3 position-relative"
                  (click)="onFilterCheckFile()" style="background-color: #350142; color: #ffbb00;">
                  <mat-icon>search</mat-icon> <span class="d-none d-lg-inline">งานที่รอตรวจไฟล์</span>
                  <span *ngIf="checkFile > 0"
                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning"
                    style="font-size: 0.75rem; border: 2px solid #fff;">
                    {{ checkFile }}
                    <span class="visually-hidden">unread messages</span>
                  </span>
                </button>
              </div>
              <div class="col-12 col-sm-6 col-md-4 col-lg-auto">
                <button mat-flat-button class="w-100 px-3" (click)="loadDataSort()"
                  style="background: #350142; color: white; font-family: 'Prompt', sans-serif;">
                  <mat-icon>sort</mat-icon> <span class="d-none d-lg-inline">เรียงตามงานที่ไกล้ส่ง</span><span
                    class="d-lg-none">เรียงตามวันส่ง</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <app-data-table [headerStyle]="'background: #350142; color: #ffffff;'" [columns]="tableColumns" [data]="tableData"
    [totalElements]="totalElements" [pageSize]="pageSize" [pageIndex]="pageIndex" [clickableColumn]="'id'"
    (pageChange)="onPageChange($event)" (rowClick)="onRowClick($event)">
  </app-data-table>
</div>