<div class="card-body">
  <div class="card total-income-card warning overflow-hidden">
    <div style="padding: 10px;">
      <form [formGroup]="mainForm" class="row g-3">
        <div class="col-12 d-flex justify-content-end gap-2 mt-4">

          <button *ngIf="checkProof == true" (click)="confirmFileProof()" type="submit" class="btn text-white px-5 shadow-sm" style="background-color: #d000ff;">
            ไฟล์ Proof ถูกต้อง
          </button>
          <button *ngIf="isBtnApprove == true" (click)="updateFileChecked()" type="submit" class="btn text-white px-5 shadow-sm" style="background-color: #1e1b4b;">
            ไฟล์ถูกต้อง
          </button>
          <button *ngIf="isBtnReject == true" (click)="confirmEditFile()" type="submit" class="btn text-white px-5 shadow-sm" style="background-color: #1e1b4b;">
            ให้เจ้าของงานตรวจสอบ
          </button>
        </div>
        <div class="col-md-6">
          <label class="form-label font-weight-bold">ลำดับ</label>
          <input type="text" formControlName="id" class="form-control">
        </div>
        <div *ngIf="isDesign" class="col-md-6">
          <label class="form-label font-weight-bold">อ้างอิงตารางสั่งออกแบบ</label>
          <input type="text" formControlName="designOrderId" class="form-control">
        </div>
        <div class="col-md-2">
          <label class="form-label font-weight-bold">JobId</label>
          <input type="text" formControlName="jobId" class="form-control">
        </div>
        <div class="col-md-2">
          <label class="form-label font-weight-bold">QtId</label>
          <input type="text" formControlName="qtId" class="form-control">
        </div>
        <div class="col-md-6">
          <label class="form-label font-weight-bold">วันที่สั่งงาน</label>
          <input type="date" formControlName="orderDate" class="form-control"
            [class.is-invalid]="mainForm.get('order_date')?.invalid && mainForm.get('order_date')?.touched">
        </div>
        <div class="col-md-6">
          <label class="form-label font-weight-bold">ชื่อโฟลเดอร์งาน<span style="color: red;">*</span></label>
          <input type="text" formControlName="folderName" class="form-control" placeholder="ระบุชื่อโฟลเดอร์"
            [class.is-invalid]="mainForm.get('folder_name')?.invalid && mainForm.get('folder_name')?.touched">
        </div>
        <div class="col-md-6">
          <label class="form-label font-weight-bold">เจ้าของงาน</label>
          <input type="text" formControlName="jobOwner" class="form-control" placeholder="ชื่อผู้สั่งงาน">
        </div>
        <div class="col-md-6">
          <label class="form-label font-weight-bold">ผู้รับผิดชอบ (Assignee)</label>
          <input type="text" formControlName="responsiblePerson" class="form-control" placeholder="ชื่อผู้ออกแบบ">
        </div>
        <div class="col-md-3">
          <label class="form-label font-weight-bold">วันที่ต้องส่ง<span style="color: red;">*</span></label>
          <input type="date" formControlName="deliveryDate" class="form-control">
        </div>
        <div class="col-md-3">
          <label class="form-label font-weight-bold">เวลาที่ต้องส่ง<span style="color: red;">*</span></label>
          <input type="time" formControlName="deliveryTime" class="form-control">
        </div>
         <div class="col-md-6">
          <label class="form-label font-weight-bold">สถานะ</label>
          <input type="text" formControlName="status" class="form-control">
        </div>
        <div class="col-md-3">
          <label class="form-label font-weight-bold">จำนวน<span style="color: red;">*</span></label>
          <input type="number" formControlName="quantity" class="form-control">
        </div>
        <div class="col-md-3">
          <label class="form-label font-weight-bold">หน่วยนับ<span style="color: red;">*</span></label>
          <input type="text" formControlName="unit" class="form-control">
        </div>
        <div class="col-md-3">
          <label class="form-label font-weight-bold">ประเภทงาน</label>
          <input type="text" formControlName="typeJob" class="form-control" style="color: black;">
        </div>
        <div class="col-md-4">
          <label class="form-label font-weight-bold">เครื่องพิมพ์</label>
          <select formControlName="machineName" class="form-select" style="color: black;">
            <option value="">เลือกเครื่องพิมพ์</option>
            <option value="Canon">Canon</option>
            <option value="Ricoh">Ricoh</option>
            <option value="Bluesky">Bluesky</option>
          </select>
        </div>
        <div class="col-md-3" *ngIf="isUpdateDelivery">
          <label class="form-label font-weight-bold">วันที่ขอเลื่อนส่ง</label>
          <input style="background-color: rgb(255, 136, 0); color: white;" type="date" formControlName="updateDateDelivery" class="form-control">
        </div>
        <div class="col-md-3" *ngIf="isUpdateDelivery">
          <label class="form-label font-weight-bold">เวลาที่ขอเลื่อนส่ง</label>
          <input style="background-color: rgb(255, 136, 0); color: white;" type="time" formControlName="updateTimeDelivery" class="form-control">
        </div>
        <div class="col-12">
          <label class="form-label font-weight-bold">หมายเหตุ</label>
          <input type="text" formControlName="note" class="form-control" placeholder="หมายเหตุเพิ่มเติม">
        </div>
        <div class="col-12" *ngIf="isNoteEdit == true">
          <label class="form-label font-weight-bold">รายละเอียดแก้ไข</label>
          <input style="background-color: rgb(255, 136, 1); color: white;" type="text" formControlName="noteEdit"
            class="form-control">
        </div>
        <div class="col-md-6">
          <label class="form-label font-weight-bold">ชื่อลูกค้า</label>
          <input type="text" formControlName="customerName" class="form-control" placeholder="ชื่อลูกค้า">
        </div>
        <div class="col-md-12">
          <div class="form-check form-switch mt-2"> <input type="checkbox" formControlName="isCreateSample"
              class="form-check-input" id="isCreateSampleSwitch">
            <label class="form-check-label" for="isCreateSampleSwitch">ขึ้นตัวอย่าง</label>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="card-body">
  <div class="card total-income-card info overflow-hidden">
    <div style="padding: 10px;">
      <h5 class="card-title mb-3">รายละเอียดงานพิมพ์</h5>
      <form [formGroup]="mainForm" class="row g-3">
        <div class="col-md-6">
          <label class="form-label font-weight-bold">ประเภทงาน</label>
          <input type="text" formControlName="jobType" class="form-control">
        </div>
        <div class="col-md-6">
          <label class="form-label font-weight-bold">ระบบพิมพ์</label>
          <input type="text" formControlName="systemPrint" class="form-control">
        </div>
        <div class="col-md-6">
          <label class="form-label font-weight-bold">ลักษณะงานพิมพ์</label>
          <input type="text" formControlName="printType" class="form-control">
        </div>
        <div class="col-md-6">
          <label class="form-label font-weight-bold">สีที่พิมพ์</label>
          <input type="text" formControlName="colorPrint" class="form-control">
        </div>
        <div class="col-md-6">
          <label class="form-label font-weight-bold">ขนาดกระดาษ</label>
          <input type="text" formControlName="paperType" class="form-control">
        </div>
        <div class="col-md-6">
          <label class="form-label font-weight-bold">แกรมกระดาษ</label>
          <input type="text" formControlName="paperGram" class="form-control">
        </div>
        <div class="col-md-6">
          <label class="form-label font-weight-bold">ลักษณะงานเคลือบ</label>
          <input type="text" formControlName="coatType" class="form-control">
        </div>
        <div class="col-md-6">
          <label class="form-label font-weight-bold">ลักษณะงานไดคัท</label>
          <input type="text" formControlName="diecuttingType" class="form-control">
        </div>
      </form>
      <br>
    </div>
  </div><br>
</div>