<h2>ตารางคอนเฟิร์มรอผลิต</h2>
<div class="card-body">
  <div class="card border-0 shadow-sm mb-4 overflow-hidden">
    <div class="card-body bg-light">
      <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
        <div class="row g-3">
          <div class="col-md-3">
            <input type="number" class="form-control" formControlName="id" placeholder="ค้นหา ลำดับ">
          </div>
          <div class="col-md-3">
            <input type="text" class="form-control" formControlName="jobId" placeholder="ค้นหา JO">
          </div>
          <div class="col-md-3">
            <input type="text" class="form-control" formControlName="folderName" placeholder="ค้นหา ชื่อโฟลเดอร์">
          </div>
          <div class="col-md-3">
            <input type="text" class="form-control" formControlName="jobType" placeholder="ค้นหา ประเภทงาน">
          </div>

          <div class="col-md-3">
            <input type="text" class="form-control" formControlName="jobOwner" placeholder="ค้นหา เจ้าของงาน">
          </div>

          <div class="col-md-3">
            <select class="form-select" formControlName="status">
              <option value="">สถานะงาน ทั้งหมด</option>
              <option value="รอผู้รับผิดชอบยืนยัน	">รอผู้รับผิดชอบยืนยัน </option>
              <option value="รอดำเนินการ">รอดำเนินการ</option>
              <option value="กำลังดำเนินการ">กำลังดำเนินการ</option>
              <option value="เสร็จสิ้น">เสร็จสิ้น</option>
            </select>
          </div>

          <div class="col-md-3">
            <select class="form-select" formControlName="processStatus">
              <option value="">สถานะดำเนินการ ทั้งหมด</option>
              <option value="รอผู้รับผิดชอบยืนยัน	">รอผู้รับผิดชอบยืนยัน </option>
              <option value="รอดำเนินการ">รอดำเนินการ</option>
              <option value="กำลังดำเนินการ">กำลังดำเนินการ</option>
              <option value="เสร็จสิ้น รอตรวจสอบ">เสร็จสิ้น รอตรวจสอบ</option>
              <option value="ตรวจไฟล์แม่พิมพ์แล้ว">ตรวจไฟล์แม่พิมพ์แล้ว</option>
              <option value="ตรวจใบสั่งผลิตแล้ว">ตรวจใบสั่งผลิตแล้ว</option>
              <option value="ส่งข้อมูลไปตารางจัดส่ง">ส่งข้อมูลไปตารางจัดส่ง</option>
              <option value="ส่งใบสั่งผลิตแล้ว">ส่งใบสั่งผลิตแล้ว</option>
              <option value="ส่งไฟล์แล้ว">ส่งไฟล์แล้ว</option>
            </select>
          </div>

          <div class="col-md-3">
            <select class="form-select" formControlName="moldStatus">
              <option value="">สถานะแม่พิมพ์ ทั้งหมด</option>
              <option value="รอผู้รับผิดชอบยืนยัน	">รอผู้รับผิดชอบยืนยัน </option>
              <option value="รอดำเนินการ">รอดำเนินการ</option>
              <option value="กำลังทำแม่พิมพ์">กำลังทำแม่พิมพ์</option>
              <option value="แม่พิมพ์เสร็จแล้ว">แม่พิมพ์เสร็จแล้ว</option>
              <option value="ส่งแม่พิมพ์">ส่งแม่พิมพ์</option>
            </select>
          </div>

          <div class="col-md-3">
            <input type="text" class="form-control" formControlName="inspector" placeholder="ค้นหา ผู้ตรวจ">
          </div>

          <div class="col-12">
            <div class="row g-2">
              <div class="col-12 col-sm-6 col-md-4 col-lg-auto">
                <button mat-flat-button type="button" class="w-100 px-3 text-white" (click)="onClear()"
                  style="background-color: #2e2200;">
                  <mat-icon>clear_all</mat-icon> ล้างค่า
                </button>
              </div>
              <div class="col-12 col-sm-6 col-md-4 col-lg-auto">
                <button mat-flat-button type="submit" class="w-100 px-3 text-white" style="background-color: #2e2200;">
                  <mat-icon>search</mat-icon> ค้นหา
                </button>
              </div>
              <div class="col-12 col-sm-12 col-md-4 col-lg-auto">
                <button mat-flat-button class="w-100 px-3 text-white position-relative" (click)="onFilterUnassigned()"
                  style="background-color: #2e2200;">
                  <span *ngIf="countBacklog > 0"
                    class="position-absolute top-0 end-0 translate-middle badge rounded-pill bg-danger"
                    style="font-size: 0.75rem; border: 2px solid #fff;">
                    {{ countBacklog }}
                    <span class="visually-hidden">unread messages</span>
                  </span>
                  <mat-icon>search</mat-icon> <span class="d-none d-lg-inline">งานที่รอตรวจไฟล์แม่พิมพ์</span><span
                    class="d-lg-none">รอตรวจไฟล์แม่พิมพ์</span>
                </button>
              </div>
              <div class="col-12 col-sm-12 col-md-4 col-lg-auto">
                <button mat-flat-button class="w-100 px-3 text-white position-relative"
                  (click)="onFilterProcessStatus()" style="background-color: #2e2200;">
                  <span *ngIf="waitCheckFile > 0"
                    class="position-absolute top-0 end-0 translate-middle badge rounded-pill bg-danger"
                    style="font-size: 0.75rem; border: 2px solid #fff;">
                    {{ waitCheckFile }}
                    <span class="visually-hidden">unread messages</span>
                  </span>
                  <mat-icon>search</mat-icon> <span class="d-none d-lg-inline">งานที่รอตรวจใบสั่ง</span><span
                    class="d-lg-none">รอตรวจใบสั่ง</span>
                </button>
              </div>
              <div class="col-12 col-sm-12 col-md-4 col-lg-auto">
                <button mat-flat-button class="w-100 px-3 text-white position-relative" (click)="onFilterWaitSend()"
                  style="background-color: #2e2200;">
                  <span *ngIf="waitSend > 0"
                    class="position-absolute top-0 end-0 translate-middle badge rounded-pill bg-danger"
                    style="font-size: 0.75rem; border: 2px solid #fff;">
                    {{ waitSend }}
                    <span class="visually-hidden">unread messages</span>
                  </span>
                  <mat-icon>search</mat-icon> <span class="d-none d-lg-inline">งานที่รอส่งใบสั่งผลิต</span><span
                    class="d-lg-none">รอส่งใบสั่งผลิต</span>
                </button>
              </div>
              <div class="col-12 col-sm-12 col-md-4 col-lg-auto">
                <button mat-flat-button class="w-100 px-3 text-white position-relative" (click)="onFilterWaitSendFile()"
                  style="background-color: #2e2200;">
                  <span *ngIf="waitSendFile > 0"
                    class="position-absolute top-0 end-0 translate-middle badge rounded-pill bg-danger"
                    style="font-size: 0.75rem; border: 2px solid #fff;">
                    {{ waitSendFile }}
                    <span class="visually-hidden">unread messages</span>
                  </span>
                  <mat-icon>search</mat-icon> <span class="d-none d-lg-inline">งานที่รอส่งไฟล์</span><span
                    class="d-lg-none">รอส่งใบสั่งผลิต</span>
                </button>
              </div>
              <div class="col-12 col-sm-12 col-md-4 col-lg-auto">
                <button type="button" mat-flat-button class="w-100 px-3 text-white position-relative"
                  (click)="onFilterProcessStatusDelivery()" style="background-color: #2e2200;">
                  <span *ngIf="delivery > 0"
                    class="position-absolute top-0 end-0 translate-middle badge rounded-pill bg-danger"
                    style="font-size: 0.75rem; border: 2px solid #fff;">
                    {{ delivery }}
                    <span class="visually-hidden">unread messages</span>
                  </span>
                  <mat-icon>search</mat-icon> <span class="d-none d-lg-inline">งานที่รอส่งไปตารางจัดส่ง</span><span
                    class="d-lg-none">ส่งไปตารางจัดส่ง</span>
                </button>
              </div>
              <div class="col-12 col-sm-6 col-md-4 col-lg-auto">
                <button type="button" mat-flat-button class="w-100 px-3" (click)="onSearchSort()"
                  style="background: #2e2200; color: white; ">
                  <mat-icon>sort</mat-icon> <span class="d-none d-lg-inline">เรียงตามงานที่ไกล้ส่ง</span><span
                    class="d-lg-none">เรียงตามวันส่ง</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <app-data-table [headerStyle]="'background: #2e2200; color: #ffffff;'" [columns]="tableColumns" [data]="tableData"
    [totalElements]="totalElements" [pageSize]="pageSize" [pageIndex]="pageIndex" [clickableColumn]="'id'"
    (pageChange)="onPageChange($event)" (rowClick)="onRowClick($event)">
  </app-data-table>
</div>