<h2>ตารางคอนเฟิร์มรอผลิต</h2>
<div class="card-body">
  <div class="card border-0 shadow-sm mb-4 overflow-hidden">
    <div class="card-body bg-light">
      <form [formGroup]="searchForm" (ngSubmit)="onSearch()">
        <div class="row g-3">
          <div class="col-md-3">
            <label class="form-label fw-bold">รหัสสั่งผลิต (ID)</label>
            <input type="number" class="form-control" formControlName="id" placeholder="ระบุ ID">
          </div>
          <div class="col-md-3">
            <label class="form-label fw-bold">ชื่อโฟลเดอร์งาน</label>
            <input type="text" class="form-control" formControlName="folderName" placeholder="ระบุชื่อโฟลเดอร์">
          </div>
          <div class="col-md-3">
            <label class="form-label fw-bold">ประเภทงาน</label>
            <input type="text" class="form-control" formControlName="jobType" placeholder="เช่น กล่องฝาชน">
          </div>

          <div class="col-md-3">
            <label class="form-label fw-bold">เจ้าของงาน</label>
            <input type="text" class="form-control" formControlName="jobOwner" placeholder="ระบุเจ้าของงาน">
          </div>

          <div class="col-md-3">
            <label class="form-label fw-bold">สถานะงาน (Job Status)</label>
            <select class="form-select" formControlName="status">
              <option value="">ทั้งหมด</option>
              <option value="รอผู้รับผิดชอบยืนยัน	">รอผู้รับผิดชอบยืนยัน </option>
              <option value="รอดำเนินการ">รอดำเนินการ</option>
              <option value="กำลังดำเนินการ">กำลังดำเนินการ</option>
              <option value="เสร็จสิ้น">เสร็จสิ้น</option>
            </select>
          </div>

          <div class="col-md-3">
            <label class="form-label fw-bold">สถานะดำเนินการ (Process)</label>
            <select class="form-select" formControlName="processStatus">
              <option value="">ทั้งหมด</option>
              <option value="รอผู้รับผิดชอบยืนยัน	">รอผู้รับผิดชอบยืนยัน	</option>
              <option value="รอดำเนินการ">รอดำเนินการ</option>
              <option value="กำลังดำเนินการ">กำลังดำเนินการ</option>
              <option value="เสร็จสิ้น รอตรวจสอบ">เสร็จสิ้น รอตรวจสอบ</option>
              <option value="ตรวจไฟล์แม่พิมพ์แล้ว">ตรวจไฟล์แม่พิมพ์แล้ว</option>
              <option value="ตรวจใบสั่งผลิตแล้ว">ตรวจใบสั่งผลิตแล้ว</option>
              <option value="ส่งใบสั่งผลิตแล้ว">ส่งใบสั่งผลิตแล้ว</option>
              <option value="ส่งไฟล์แล้ว">ส่งไฟล์แล้ว</option>
            </select>
          </div>

          <div class="col-md-3">
            <label class="form-label fw-bold">สถานะแม่พิมพ์ (Mold)</label>
            <select class="form-select" formControlName="moldStatus">
              <option value="">ทั้งหมด</option>
              <option value="รอผู้รับผิดชอบยืนยัน	">รอผู้รับผิดชอบยืนยัน	</option>
              <option value="รอดำเนินการ">รอดำเนินการ</option>
              <option value="กำลังทำแม่พิมพ์">กำลังทำแม่พิมพ์</option>
              <option value="แม่พิมพ์เสร็จแล้ว">แม่พิมพ์เสร็จแล้ว</option>
              <option value="ส่งแม่พิมพ์">ส่งแม่พิมพ์</option>
            </select>
          </div>

          <div class="col-md-3">
            <label class="form-label fw-bold">ตั้งแต่วันที่</label>
            <input type="date" class="form-control" formControlName="startDate" (change)="onStartDateChange()">
          </div>

          <div class="col-md-3">
            <label class="form-label fw-bold">ถึงวันที่</label>
            <input type="date" class="form-control" formControlName="endDate" [min]="minEndDate | date:'yyyy-MM-dd'">
          </div>

          <div class="col-md-9 d-flex align-items-end justify-content-end gap-2 ">
            <button mat-flat-button type="button" class="btn text-white px-4" (click)="onClear()" style="background-color: #f0c83a;">
              <mat-icon>clear_all</mat-icon> ล้างค่า
            </button>
            <button mat-flat-button type="submit" class="btn text-white px-4" style="background-color: #ffc800;">
              <mat-icon>search</mat-icon> ค้นหา
            </button>
            <div class="position-relative">
              <button mat-flat-button class="btn text-white px-4" (click)="onFilterUnassigned()" style="background-color: #ffc800;">
                <span *ngIf="countBacklog > 0"
                  class="position-absolute top-0 end-0 translate-middle badge rounded-pill bg-danger"
                  style="font-size: 0.75rem; border: 2px solid #fff;">
                  {{ countBacklog }}
                  <span class="visually-hidden">unread messages</span>
                </span>
                <mat-icon>search</mat-icon> งานที่ยังไม่เริ่มตรวจสอบ
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <app-data-table [headerStyle]="'background: #e8b705; color: #ffffff;'" [columns]="tableColumns" [data]="tableData"
    [totalElements]="totalElements" [pageSize]="pageSize" [pageIndex]="pageIndex" [clickableColumn]="'id'"
    (pageChange)="onPageChange($event)" (rowClick)="onRowClick($event)">
  </app-data-table>
</div>