<div class="text-end mb-3">
  <button mat-flat-button color="primary" class="rounded-pill px-4" (click)="openDetail(activeTab)">
    <mat-icon class="me-2">add</mat-icon> เพิ่ม{{ activeTab === 'material' ? 'วัสดุใหม่' : activeTab === 'supplier' ? 'ผู้จำหน่าย' : activeTab === 'brand' ?
    'ยี่ห้อ' : activeTab === 'uom' ? 'หน่วยนับ' : activeTab === 'materialType' ? 'ประเภทวัสดุ' : 'สูตรการแปลง' }}
  </button>
</div>
<div class="card border-0 shadow-sm">
  <div class="card-header bg-white">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link cursor-pointer" [class.active]="activeTab === 'material'"
          (click)="activeTab = 'material'">ข้อมูลพัสดุ/วัสดุ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link cursor-pointer" [class.active]="activeTab === 'supplier'"
          (click)="activeTab = 'supplier'">ผู้จำหน่าย</a>
      </li>
      <li class="nav-item">
        <a class="nav-link cursor-pointer" [class.active]="activeTab === 'brand'"
          (click)="activeTab = 'brand'">ยี่ห้อ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link cursor-pointer" [class.active]="activeTab === 'uom'" (click)="activeTab = 'uom'">หน่วยนับ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link cursor-pointer" [class.active]="activeTab === 'materialType'" (click)="activeTab = 'materialType'">ประเภทวัสดุ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link cursor-pointer" [class.active]="activeTab === 'uomConversion'" (click)="activeTab = 'uomConversion'">ตั้งค่าการแปลงหน่วย</a>
      </li>
    </ul>
  </div>
  <div class="card-body">
    <div *ngIf="activeTab === 'material'">
      <app-data-table [columns]="materialColumns" [data]="materials" [clickableColumn]="'id'" (rowClick)="onRowClick($event)"></app-data-table>
    </div>
    <div *ngIf="activeTab === 'supplier'">
      <app-data-table [columns]="supplierColumns" [data]="suppliers" [clickableColumn]="'id'" (rowClick)="onRowClick($event)"></app-data-table>
    </div>
    <div *ngIf="activeTab === 'brand'">
      <app-data-table [columns]="brandColumns" [data]="brands" [clickableColumn]="'id'" (rowClick)="onRowClick($event)"></app-data-table>
    </div>
    <div *ngIf="activeTab === 'uom'">
      <app-data-table [columns]="uomColumns" [data]="uoms" [clickableColumn]="'id'" (rowClick)="onRowClick($event)"></app-data-table>
    </div>
    <div *ngIf="activeTab === 'materialType'">
      <app-data-table [columns]="materialTypeColumns" [data]="materialTypes" [clickableColumn]="'id'" (rowClick)="onRowClick($event)"></app-data-table>
    </div>
    <div *ngIf="activeTab === 'uomConversion'">
      <app-data-table [columns]="uomConversionColumns" [data]="uomConversions" [clickableColumn]="'id'" (rowClick)="onRowClick($event)"></app-data-table>
    </div>
  </div>
</div>