<div class="card">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h1 class="mb-0">งานรอพิมพ์ OD</h1>
    <button *ngIf="isPrint" (click)="onUpdatePrint('Print')" class="btn text-white px-5 shadow-sm" style="background-color: #1e1b4b;">พิมพ์เสร็จ</button>
    <button *ngIf="isInPrint" (click)="onUpdatePrint('inPrint')" class="btn text-white px-5 shadow-sm" style="background-color: #1e1b4b;">เริ่มพิมพ์</button>
  </div>
  
  <div class="card-body">
    <form [formGroup]="printingForm">
      <div class="row g-3">
        <div class="col-md-4">
          <label class="form-label">วันที่ </label>
          <input type="date" formControlName="date" class="form-control">
        </div>
        <div class="col-md-4">
          <label class="form-label">JOB ID</label>
          <input type="text" formControlName="jobId" class="form-control">
        </div>
        <div class="col-md-4">
          <label class="form-label" style=" color: red;">วันที่ต้องส่งงานพิมพ์</label>
          <input type="date" formControlName="printingDate" class="form-control" style="background-color: red; color: #ffffff;">
        </div>
        <div class="col-12">
          <label class="form-label">ชื่อลูกค้า/ชื่องาน</label>
          <input type="text" formControlName="customerJobName" class="form-control">
        </div>
        <div class="col-md-2">
          <label class="form-label">สถานะงาน</label>
          <input type="text" formControlName="printStatus" class="form-control">
        </div>
        <div class="col-md-2">
          <label class="form-label">ยอดใบพิมพ์</label>
          <input type="number" formControlName="printQuantity" class="form-control" placeholder="0">
        </div>
        <div class="col-md-2">
          <label class="form-label">ยอดผลิต/กล่อง</label>
          <input type="number" formControlName="productionQuantity" class="form-control" placeholder="0">
        </div>
        <div class="col-md-6">
          <label class="form-label">เครื่องพิมพ์</label>
          <input type="text" formControlName="printingResponsible" class="form-control">
        </div>
      </div>
    </form>
  </div>
</div>