<div class="auth-main">
  <div class="auth-wrapper v3">
    <div class="auth-form">
      <div class="card my-5">
        <div class="card-body ">
          <a href="#" class="d-flex justify-content-center">
            <img src="assets/images/logo-boxcorner.svg" alt="logo" />
          </a>
          <div class="row">
            <div class="d-flex justify-content-center">
              <div class="auth-header">
                <h2 class="text-secondary mt-5"><b>Welcome to Boxcorner System</b></h2>
              </div>
            </div>
          </div>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-floating mb-3">
              <input type="email" class="form-control" id="floatingInput" formControlName="username" />
              <label for="floatingInput"> Username</label>
            </div>
            <div class="form-floating mb-3">
              <input type="password" class="form-control" id="password" formControlName="password" 
                     pattern="[A-Za-z0-9]*" (keypress)="onPasswordKeyPress($event)" />
              <label for="password">Password</label>
            </div>
            <div class="d-flex mt-1 justify-content-between">
              <div class="form-check">
                <input class="form-check-input input-primary" type="checkbox" id="customCheckc1"
                  formControlName="rememberMe" />
                <label class="form-check-label text-muted" for="customCheckc1">Remember me</label>
              </div>
            </div>
            <div class="d-grid mt-4">
              <button type="submit" class="btn btn-secondary">Sign In</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>