<div class="card">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col-12 col-md-6">
        <h1 class="mb-2 mb-md-0">รายงานตรวจสอบยอดมิเตอร์ (DCSM29)</h1>
      </div>
      <div class="col-12 col-md-6 text-md-end">
        <!-- Optional buttons -->
      </div>
    </div>
  </div>

  <div class="card-body">
    <app-data-table [columns]="tableColumns" [data]="tableData" [totalElements]="totalElements" [pageSize]="pageSize"
      [pageIndex]="pageIndex" [clickableColumn]="'id'" (pageChange)="onPageChange($event)"
      (rowClick)="onRowClick($event)">
    </app-data-table>
  </div>
</div>